div.track-list-item, div.track-list-item a {
    display: block;
}

div.track-list-item a, div.track-list-item p {
    display: block;
    padding: 10px 14px;
    border-bottom: thin solid #CCC;
    line-height: 1.1em;
    text-decoration: none;
}

div.track-list-item a:hover {
    background-color: #ccc;
}

div.track-list-item p {
    background-color: #eee;
    border-bottom: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

span.tdate, span.tid, span.tmerchant{
    display: block;
}

span.tdate{
    font-size: .8em;
}

span.tid{
    font-size: .82em;
}

table{
    color:#000;
    font-size: 12px;
}